

<div class="block">
  <div><h3>{{products.name}}</h3></div>
  <div class="dimage">
    <img src="" alt="No image" width="140px" height="120px">
  </div>
  <div class="desc">
    {{products.description}}
  </div>
  <div>
    <label id="lab" for="qty">Quantity</label>
    <select name="qty">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
    </select>
    <button type="submit" class="btn-buy">Add to cart</button>
  </div>
</div>
